* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
}

/* Contact Form Section */
.contact-form-section {
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact-form-section h4 {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 10%;
  margin-top: 60px;
}

.contact-form-section h2 {
  font-size: 75px;
  margin-bottom: 10px;
  font-family: "Youth_bold";
  text-align: left;
  margin-left: 10%;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  font-size: 16px;
  border-top: white;
  border-left: none;
  border-right: none;
}

.form-textarea {
  grid-column: span 3;
  height: 150px;
}

.contact-submit-button {
  grid-column: span 3;
  padding: 22px;
  background-color: #3717df;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
  font-weight: 700;
  font-family: "Youth";
  margin-top: 2%;
}

.error-message {
  color: red;
  margin: 0px;
  font-size: 14px;
  position: absolute;
}

.contact-submit-button:hover {
  background-color: #2b13c4;
}

/* Contact Info Section */
.contact-info-section {
  width: 100%;
  background-color: #f9f9f9;
  padding: 40px;
  text-align: left;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contact-info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.contact-info-container h4 {
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
  font-family: "Youth_bold";
}

.contact-info-container h3 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: "youth_bold";
  text-align: left;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.info-box2 {
  width: 100%;
  margin-bottom: 20px;
}
.mon-hr {
  font-size: 16px;
}

.info-box1 {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 30px;
}
.map-big {
  border-radius: 45px;
}

.info-box h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Youth_bold";
}

/* Map Section */
.map-section {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.map-placeholder {
  width: 80%;
  height: 400px;
  background-color: #ddd;
  border-radius: 45px;
}

.map-placeholder iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Hello {
  font-family: "Youth_bold";
}

/* Chat Support Section */
.chat-support-section {
  width: 100%;
  padding: 40px;
  background-color: #3717df;
  color: white;
  text-align: center;
}

.chat-support-container {
  max-width: 900px;
  margin: 0 auto;
}

.chat-support-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.chat-button {
  padding: 15px 30px;
  background-color: #ffc300;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.chat-button img {
  margin-right: 10px;
}

.chat-button:hover {
  background-color: #e6b800;
}
.social-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 195px;
  right: 10%;
}

.fbicon {
  width: 25%;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .contact-form-section {
    padding: 40px;
  }

  .contact-form {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }

  .form-textarea {
    grid-column: span 2;
  }

  .contact-submit-button {
    grid-column: span 2;
    padding: 10px;
    font-size: 14px;
    width: 100%;
  }
  .contact-info-container {
    flex-direction: column;
  }

  .info-box2 {
    width: 100%;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }

  @media (max-width: 768px) {
    .contact-form-section {
      padding: 20px;
    }

    .contact-form {
      grid-template-columns: 1fr;
    }

    .form-textarea {
      grid-column: span 1;
    }

    .contact-submit-button {
      grid-column: span 1;
      padding: 10px;
      font-size: 14px;
      width: 100%;
    }
    .contact-info-container {
      flex-direction: column;
    }

    .contact-info,
    .map-section,
    .chat-support-container {
      flex-direction: column;
    }

    .fbicon {
      width: 30%;
    }

    .social-icons {
      top: 180px;
      flex-direction: row;
      justify-content: center;
    }
    .map-placeholder {
      width: 90%;
      height: 300px;
      background-color: #ddd;
      border-radius: 45px;
    }

    .map-placeholder img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .error-message {
      color: red;
      margin: 0px;
      font-size: 14px;
      position: absolute;
    }
  }

  @media (max-width: 480px) {
    .contact-form-section h2 {
      font-size: 24px;
    }

    .contact-form-section h4,
    .contact-info-container h4,
    .contact-info-container h3 {
      font-size: 18px;
    }

    .contact-form {
      gap: 20px;
      margin-top: 60px;
    }

    .form-input,
    .form-textarea,
    .chat-button {
      padding: 10px;
      font-size: 14px;
    }

    .contact-submit-button {
      padding: 6px;
      font-size: 10px;
      width: 70%;
    }

    .chat-support-section {
      padding: 20px;
    }

    .contact-info {
      display: flex;
      justify-content: space-between;
    }
    .error-message {
      color: red;
      margin: 0px;
      font-size: 12px;
      position: absolute;
    }
  }
}

@media screen and (max-width: 768px) {
  .social-icons {
    top: 40%;
    left: 10%;
    flex-direction: row;
    align-items: center;
  }

  .info-box2 {
    width: 100%;
    padding: 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .social-icons {
    top: 180px; /* Adjust top position for better alignment */
    flex-direction: column;
    justify-content: center;
  }
  .error-message {
    color: red;
    margin: 0px;
    font-size: 14px;
    position: absolute;
  }
}
