.home{
    height:100vh;
    width: 100vw;
    background-color: #3103EB;
    font-family: "Youth", sans-serif;  
    font-size: 12px;
    color:#fff;

}

  .home__blue-container {
    background-color: #3103eb;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Intro text styling */
  .home__intro-text {
    color: white;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  font-family: "Youth", sans-serif;
  line-height: 53px;
  margin-top: 80px;
  }
  
  /* Section for NTAR content */
  .home__ntar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-top: -2%; */
    /* margin-left: -3%; */
    font-family: "Youth";
  }
  
  /* Magic money text section */
  .home__magicmoney-text {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  /* Styling for "Let's" text */
  .home__magic-lets {
    text-align: center;
    color: white;
    font-size: 138px;
    font-weight: bold;
    margin-right: -5%;
    font-family: "Youth";
    line-height: 167px;
  }
  
  /* Styling for the gif image */
  .home__gif {
 width:269px;
 object-fit: contain;
  }
  
  /* Styling for the NTAR text */
  .home__ntar-text {
    text-align: center;
    color: white;
    line-height: 1.2;
    font-size: 138px;
    font-weight: bold;
    margin-left: -5%;
    font-family: "Youth";
  }
  
  /* Container for the mobile image */
  .home__mobile-image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 0%;
  }
  
  /* Styling for the mobile image */
  .home__mobile-image {
    display: block;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: -15%;
  }

  .finance_container{
    /* height:100px; */
    width:100%;
   background-color: #ffffff;
   margin-top: -27%;
   z-index: 99;
   padding:20px
    }
  .finance_header_text{
    font-family: "youth_bold" ;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    display: block;
  }
  .finance_description{
    font-family: "Youth" ;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
  }
  .payments_container{
    width:100vw;
    height: 100vh;
    background-color: #EFF0F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .payments_sub{
    display: flex;
    flex-direction: column;
    align-items:start;
  }
  .your_finance{
    font-size: 56px;
    line-height: 67px;
    font-weight: 500;
    color:#000000;
    font-family: 'Youth';
  }
  .your_finance_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 60px;
    margin-top: 60px;
  }
  .your_finance_item{
    display: flex;
    flex-direction: row;
    align-items: start;
    
  }
  .your_finance_icon{
    height: 48px;
    object-fit: contain;

  }
  .your_finance_sub_card{
display: flex;
flex-direction: column;
align-items: start;
margin-left: 10px;
  }
  .your_finance_title{
font-family: "youth_bold";
font-size: 21px;
font-weight: 500;
line-height: 30px;
color: #000000;
  }
  .your_finance_sub_text{
    font-family: "Youth";
font-size: 11px;
font-weight: 400;
line-height: 13px;
color: #000000;
text-align: left;
  }

  .manScrollingCoin{
object-fit: contain;
width: 500px;
transform: scaleX(-1);

  }
  .manScrollingCoinLeft{
    object-fit: contain;
    width: 500px;
    
      }
  
  .inside-img-text{
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold; /* Makes the text bold */
    background-image: linear-gradient(to right, #909090 100%, #2A2A2A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    position: absolute;
    left: 38%;
    top: 10px;
  }
  .Explore{
     width: 150px;
     height:41px;
     background-color: #3103EB;
border-radius: 8px;
border-color: none;
color: #fff;
outline: none;
    }
  .scroll_image_container{
position: relative;

  }

  /* Styles for mobiles */
@media only screen and (max-width: 599px) {
   
  .home__intro-text {
  font-size: 21px;
  line-height: 26px;
  margin-top: 160px;
  }
  .home__magic-lets {
   
    font-size: 50px;
    line-height: 78px;
  }
  
  .home__ntar-text {
   
    font-size: 50px;
    line-height: 78px;
  }
  .home__gif {
    width:80px;
    object-fit: contain;
     }
     
  .finance_header_text{
    font-family: "Youth" ;
    font-size: 34px;
    line-height: 40px;
 
  
  }
  .finance_description{
    font-family: "Youth" ;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    font-weight: 400;
    color: #000000;
  }
   
}

/* finance-container */


/* Styles for tablets */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    /* Tablet styles here */
  
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1200px) {
  
}
