.navbar-top-section {
  background-color: #f9e400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  ul {
    display: flex;
    list-style: none;
    margin: 0px;
  }

  li {
    margin: 0px 20px;
    font-family: Youth;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.42px;
    text-align: center;
  }
}

.navbar-expand-lg {
  background-color: #3103eb;
  color: white;
}
.navbar-h-btn {
  background-color: white;
  font-family: Youth;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-radius: 7px !important;
  padding: 5px 15px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  width: 29px;
  height: 32.27px;
}
.nav-item {
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
  letter-spacing: -0.14px;
}
.logo-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
  font-family: Youth;
  font-size: 40px;
  font-weight: bold;
  line-height: 59.94px;
  text-align: left;
  color: #fff;
  margin-left: 15px;
}
.top-arrow {
  width: 15px;
  height: 17.49px;
  top: 16.25px;
  left: 131.49px;
}

/* Style for the submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  border-radius: 0.25rem;
  width: 100%;
  margin-left: -36px;
}

.nav-item:hover .submenu {
  display: block;
}

.submenu a:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

/* Style for the navbar-inside-card */
.navbar-inside-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav-top-hr {
  border-bottom: 2px solid gray;
}

.navbar-inside-sec {
  background-color: #fff;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-inside-card {
  background-color: #fff;
  border: 0px;
  display: flex;
  justify-content: start;
  align-items: center;

  span {
    font-family: Youth;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.2800000011920929px;
    text-align: left;
    color: #000000;
    width: 40%;
  }

  .navbar-inside-sec {
    .navbar-inside-items {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 70px;

      span {
        font-family: Youth;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #808080;
      }

      button {
        font-family: Banana Grotesk;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
        color: #000000;
        background-color: #f9e400;
        width: 100%;
        border-radius: 50px;
        border: 0px;
        margin-left: 5px;
      }
    }
  }
}

.navbar-inside-card2 {
  display: flex;

  .navbar-inside-erns {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 100%;
    }

    span {
      text-align: center;
      width: 100%;
      color: #000000;
      padding: 20px;
    }
  }

  .navbar-inside-bills {
    width: 50%;
    padding-left: 50px;

    .navbar-bills-sec {
      display: flex;

      .bills-main-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 190.79px;
        height: 107.14px;
        top: 246px;
        left: 576px;
        padding: 7.34px 0px 0px 0px;
        border-radius: 13.21px 0px 0px 0px;

        img {
          width: 58.71px;
          height: 73.38px;
        }

        span {
          color: #000000;
        }
      }
    }
  }
}

/* small device media quires */
@media screen and (max-width: 767px) {
  .submenu {
    margin-left: -20px;
  }

  .navbar-inside-card {
    span {
      font-size: 20px;
      width: 30%;
    }

    .navbar-inside-sec {
      .navbar-inside-items {
        margin-right: 20px;

        span {
          font-size: 17px;
        }

        button {
          font-size: 5px;
          margin-left: 10px;
          padding: -1 10px;
        }
      }
    }
  }

  .nav-top-hr {
    border-bottom: 2px solid gray;
    margin: 0px 0px 10px;
  }

  .navbar-inside-card2 {
    flex-direction: column;

    .navbar-inside-erns {
      width: 100%;
      order: 2;
      margin-top: 15px;

      img {
        width: 100%;
      }

      span {
        display: none;
      }
    }

    .navbar-inside-bills {
      width: 100%;
      padding-left: 0px;
      order: 1;

      .navbar-bills-sec {
        display: flex;

        .bills-main-card {
          img {
            width: 58.71px;
            height: 73.38px;
          }

          span {
          }
        }
      }
    }
  }
}

/* above large device media quires */
@media screen and (min-width: 1024px) {
  .submenu {
    margin-left: -490px;
  }
  .lg-hide {
    display: none;
  }
}
