.total_container_web_mob {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-left: 120px;
}

.mobnav-container {
  display: none;
  position: fixed; /* Fix to the bottom of the viewport */
  bottom: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  background: white; /* Background color */
  z-index: 1000; /* Make sure it's on top of other content */
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  display: none; /* Initially hidden */
  transition: transform 0.3s ease; /* Smooth transition for showing/hiding */
  transform: translateY(100%); /* Initially off-screen */
}

.mobnav-container.show {
  display: block;
  transform: translateY(calc(100% - 610px));
}

.earn_min {
  font-size: 18px;
  width: 80%;
}

.sub_menu {
  background: white;
  height: 100vh;
  width: 100%;
  color: black;
}

.inside {
  text-align: left;
  padding: 16px;
}

.pay_text {
  font-size: 32px;
  font-family: "Youth_bold";
  margin: 0px;
}

.pots_text {
  font-size: 20px;
  color: rgba(128, 128, 128, 1);
  font-weight: 800;
  margin: 0px;
  gap: 5px;
  font-family: "YouthThin";
}

span {
  font-size: 16px;
}

.upper_Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}

.coming_soon_navbar {
  background: #f9e400;
  color: black;
  font-family: "BananaGroteskRegular" !important;
  border-radius: 70px;
  border: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 20.23px;
  padding: 0px 5px;
}

.navbar-inside-bills {
  width: 100%;
  padding-left: 0px;
  order: 1;
}

.navbar-bills-sec {
  display: flex;
}

.bills-main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  color: black;
  font-family: "Youth";
}

.bills-main-card img {
  width: 58.71px;
  height: 73.38px;
}

.normal_img {
  width: 90%;
}

.pots_image {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.no-scroll {
  overflow: hidden;
}

/* Background overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Above all content but below Mobnav */
}

.icon_text {
  font-size: 18px;
}

/* Mobile devices (portrait and landscape) */
@media (min-width: 481px) and (max-width: 768px) {
  .total_container_web_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0px;
  }

  .mobnav-container {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 1000;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }

  .earn_min {
    font-size: 18px;
    width: 80%;
    display: none;
  }

  .pay_text {
    font-size: 18px;
    font-family: "Youth_bold";
    margin: 0px;
  }

  .pots_text {
    font-size: 15px;
    color: rgba(128, 128, 128, 1);
    font-weight: 800;
    margin: 0px;
  }

  span {
    font-size: 13px;
  }

  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 86%));
  }
  .total_container_web_mob {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .upper_Header {
    flex-direction: row;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
  }

  .coming_soon_navbar {
    font-size: 10px;
    padding: 0 4px;
    font-family: "BananaGroteskRegular";
  }

  .navbar-inside-bills {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .bills-main-card img {
    width: 50px;
    height: 65px;
  }

  .normal_img {
    width: 90%;
  }

  .pots_image {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Above all content but below Mobnav */
  }
}

/* Tablets (iPads in portrait and landscape) */
@media (max-width: 480px) {
  .total_container_web_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0px;
  }
  .mobnav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 1000;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }

  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 75vh)) !important;
  }
  .total_container_web_mob {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
  }
  .upper_Header {
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
  }

  .navbar-bills-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .icon_text {
    font-size: 14px;
  }
  .sub_menu {
    background: white;
    height: auto;
    width: 100%;
    color: black;
  }
  .earn_min {
    /* font-size: 18px;
    width: 80%; */
    display: none;
  }

  .pay_text {
    font-size: 24px;
    font-family: "Youth_bold";
    margin: 0px;
  }

  .pots_text {
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    font-weight: 700;
    margin: 0px;
  }

  span {
    font-size: 15px;
  }

  .coming_soon_navbar {
    font-size: 10px;
    padding: 0 5px;
    font-family: "BananaGroteskRegular";
  }

  .navbar-inside-bills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .bills-main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    color: black;
    font-family: "Youth";
  }

  .bills-main-card img {
    width: 60px;
    height: 70px;
  }

  .normal_img {
    width: 85%;
  }

  .pots_image {
    padding: 18px;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Above all content but below Mobnav */
  }
}

/* Laptops and small desktops */
@media (min-width: 769px) and (max-width: 1024px) {
  .total_container_web_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0px;
  }
  .mobnav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: white;
    z-index: 1000;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }

  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 650px)) !important;
    height: 450px;
  }
  .upper_Header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .earn_min {
    font-size: 18px;
    width: 80%;
  }

  .pay_text {
    font-size: 32px;
    font-family: "Youth_bold";
    margin: 0px;
  }

  .pots_text {
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    font-weight: 200;
    margin: 0px;
  }

  span {
    font-size: 16px;
  }

  .coming_soon_navbar {
    font-size: 13px;
    padding: 0 10px;
    font-family: "BananaGroteskRegular";
  }

  .navbar-inside-bills {
    padding-left: 15px;
  }

  .bills-main-card img {
    width: 65px;
    height: 75px;
  }

  .normal_img {
    width: 88%;
  }

  .pots_image {
    padding: 20px;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Above all content but below Mobnav */
  }
}

/* Desktops and large screens */
@media (min-width: 1025px) and (max-width: 1540px) {
  .mobnav-container {
    display: none;
    position: fixed; /* Fix to the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    background: white; /* Background color */
    z-index: 1000; /* Make sure it's on top of other content */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    display: none; /* Initially hidden */
    transition: transform 0.3s ease; /* Smooth transition for showing/hiding */
    transform: translateY(100%); /* Initially off-screen */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 82%));
    height: 465px;
    /* position: absolute;
    z-index: 8; */
  }

  .total_container_web_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 125px;
  }
  .inside {
    text-align: left;
  }
  .upper_Header {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }

  .sub_menu {
    /* display: none; */
    background: white;
    height: 60vh;
    width: 100%;
    color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .coming_soon_navbar {
    font-size: 12px;
    padding: 0 10px;
    font-family: "BananaGroteskRegular";
  }

  .earn_min {
    font-size: 14px;
    width: 100%;
    font-family: "Youth_bold";
    margin: 12px;
  }

  .pay_text {
    font-size: 32px;
    font-family: "Youth_bold";
    margin-left: -50px;
  }

  .pots_text {
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    font-weight: 800;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
  }

  span {
    font-size: 16px;
  }

  .navbar-inside-bills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bills-main-card img {
    width: 70px;
    height: 80px;
  }

  .normal_img {
    width: 50%;
  }

  .pots_image {
    display: flex;
    flex-direction: column;
    padding: 22px;
    align-items: center;
    justify-content: space-around;
  }
  .pots_image img.normal_img {
    width: auto; /* Ensure the image keeps its aspect ratio */
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    max-height: 263px; /* Optional: Set a maximum height for the image */
  }
  .bills-main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Above all content but below Mobnav */
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 84%)) !important;
  }
  .sub_menu {
    background: white;
    height: 0%;
    width: 100%;
    color: black;
  }
}

@media (min-width: 1541px) {
  .mobnav-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    background: white; /* Background color */
    z-index: 1000; /* Make sure it's on top of other content */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    display: none; /* Initially hidden */
    transition: transform 0.3s ease; /* Smooth transition for showing/hiding */
    transform: translateY(100%); /* Initially off-screen */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .mobnav-container.show {
    display: block;
    transform: translateY(calc(100% - 40vh));
    height: 450px;
  }

  .total_container_web_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 125px;
  }
  .inside {
    text-align: left;
  }
  .upper_Header {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-left: -85px;
  }

  .sub_menu {
    /* display: none; */
    background: white;
    height: 60vh;
    width: 100%;
    color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .coming_soon_navbar {
    font-size: 12px;
    padding: 0 10px;
    font-family: "BananaGroteskRegular";
  }

  .earn_min {
    font-size: 14px;
    width: 100%;
    font-family: "Youth_bold";
    margin: 12px;
  }

  .pay_text {
    font-size: 32px;
    font-family: "Youth_bold";
    margin-left: 10px;
  }

  .navbar-inside-bills {
    width: 73%;
    padding-left: 0px;
    order: 1;
  }

  .pots_text {
    font-size: 20px;
    color: rgba(128, 128, 128, 1);
    font-weight: 200;
    margin: 0px;
    display: flex;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  span {
    font-size: 16px;
  }

  .navbar-inside-bills {
    /* padding-left: 20px;
    margin-right: 500px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-around; */
  }

  .bills-main-card img {
    width: 70px;
    height: 80px;
  }

  .normal_img {
    width: 50%;
  }

  .pots_image {
    display: flex;
    flex-direction: column;
    padding: 22px;
    align-items: center;
    justify-content: space-around;
  }
  .pots_image img.normal_img {
    width: auto; /* Ensure the image keeps its aspect ratio */
    max-width: 100%; /* Prevent the image from exceeding the container's width */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    max-height: 200px; /* Optional: Set a maximum height for the image */
  }
  .bills-main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* Background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Above all content but below Mobnav */
  }
}
