/* Carousel.css */
.web-Carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  column-gap: 17px;
}

.slide {
  position: relative;
}

.carousel-container img {
  width: 100%;
  height: auto;
  display: block;
}
.text-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  /* padding: 10px; */
  /* border-radius: 5px; */
  /* font-size: 18px; */
  /* font-weight: bold; */
}

.title_crl {
  font-size: 43px;

  font-weight: 700;
  font-family: "Youth";
  text-align: center;
}

.card-sub-crl-text {
  font-size: 26px;
  font-weight: 400;
  font-family: "Youth";
  align-self: flex-start;
}

.arrow {
  font-size: 24px;
  color: #000; /* Adjust color as needed */
  background: rgba(255, 255, 255, 0.7); /* Optional background */
  border: 1px solid #ddd; /* Optional border */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  bottom: -100px;
  transform: translateY(-50%);
  padding: 20px 0px;
}

.arrow:hover {
  background-color: blue !important;
  color: #ffffff;
}

.arrow-next {
  right: 10px; /* Adjust position as needed */
}

.arrow-prev {
  left: 10px; /* Adjust position as needed */
}
@media only screen and (max-width: 599px) {
  .carousel-container {
    width: 100%;
    max-width: 600px; /* Adjust this as needed */
    margin: 0 auto;
    position: relative;
    padding: 100px 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  /* Tablet styles here */
  .carousel-container img {
    width: 459px;
    object-fit: contain;
    height: auto;
  }
  .carousel-container {
    display: flex;
    align-items: center;
  }
}

/* Styles for laptops and desktops */
@media only screen and (min-width: 1200px) {
  .carousel-container img {
    width: 459px;
    object-fit: contain;
    height: auto;
  }
}
