
@font-face {
  font-family: "Youth";
  src: url("./assets/fonts/AllCaps\ -\ Youth\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YouthBold";
  src: local("YouthBold"),
    url("./assets/fonts/AllCaps\ -\ Youth\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BananaGroteskRegular";
  src: local("BananaGroteskRegular"),
       url("./assets/fonts/banana-grotesk-regular.otf") format("opentype");
  font-weight: normal; /* Adjust if needed */
  font-style: normal;  /* Adjust if needed */
}
#root {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  font-family: "Youth";
  color:'#fff'
}



@font-face {
  font-family: "Youth";
  src: url("./assets/fonts/AllCaps\ -\ Youth\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YouthBold";
  src: local("YouthBold"),
    url("./assets/fonts/AllCaps\ -\ Youth\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BananaGroteskRegular";
  src: local("BananaGroteskRegular"),
       url("./assets/fonts/banana-grotesk-regular.otf") format("opentype");
  font-weight: normal; /* Adjust if needed */
  font-style: normal;  /* Adjust if needed */
}